#background-header{
    background-color: #d5fd44;
    margin-top: 90px;
    
  }

.espacio{
    background-color: #d2a5fc;
    margin-top: 13px;
}    
  
.ti{
  text-align: center;  
  color:rgb(43, 146, 98);

}